#dashboardImg{
    /*dragable*/
    position: absolute;
}

/*set resizer divs*/
.resizer{
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: black;
    z-index: 2;
}
.resizer.ne{
    top: -1px;
    right: -1px;
    cursor: ne-resize
}
.resizer.nw{
    top: -1px;
    left: -1px;
    cursor: nw-resize;
}
.resizer.se{
    bottom: -1px;
    right: -1px;
    cursor: se-resize;
}
.resizer.sw{
    bottom: -1px;
    left: -1px;
    cursor: sw-resize;
}